<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>

<body>
    <form method="POST">
        <h1>Criar Usuário</h1>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <button type="submit">Cadastrar</button>
        <a href="{{ url_for('index') }}">VOLTAR</a>
    </form>
</body>

</html>